* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.welcome-header,
.description,
.gif-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.welcome-header {
    font-size: 2.5rem;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 1rem;
    color: #FFF;
    opacity: 0.8;
   
}

.gif-container img{
    margin-top: 30px;
    width: 800px;
    height: auto;
    border: 0px solid #fff;
    border-radius: 20px;
}
p, div {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    animation: gradientAnimation 20s infinite alternate;
    background: linear-gradient(93.12deg, #130900 0.72%, #322C2B 100%);
}

*, html {
    --primaryGradient: linear-gradient(to right bottom, #162a2c, #1e2c2a, #252e29, #2c302b, #32322e);
    --secondaryGradient: linear-gradient(to right bottom, #162a2c, #1f2b25, #292b23, #302b26, #322c2b);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}

/* CHATBOX
=============== */
.chatbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}


/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    opacity: 0;
    transition: all .5s ease-in-out;
   
}


/* CONTENT IS OPEN */
.chatbox--active {
    transform:scale(1);
    opacity: 1;
}

.chatbox__button button img {
    width: 200px; 
    height: auto; 
}

.chatbox__image--header img {
    width: 85px; 
    height: auto; 
}

/* BUTTON */
.chatbox__button {
    text-align: center;
    position: fixed;
    bottom: 50%;
    right: 50%;
    opacity: 1;
    transform: translate(50%, 50%);
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

.text-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden; 
    scrollbar-width: thin;
    scrollbar-color: #221813 #222831;
    animation: floatIn 0.5s ease forwards; 
    transition: opacity 0.3s ease, transform 0.3s ease; 
}
.main-content {
    width: 100%;
    display: flex;
    justify-content: center;    
}
.message-content {
    padding-left: 10px;

}
img.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    width: 50%;
    overflow-y: scroll;
    flex-direction: column-reverse;
    transition: width 0.3s ease-in-out;
}
@media screen and (min-width: 200px) and (max-width: 768px){
    .chatbox__messages,
    .chatbox__footer,
    .gif-container img {
        width: 100% !important;
        transition: width 0.3s ease-in-out;
    }
}
@media screen and (max-width: 1024px) {
    .chatbox__messages,
    .chatbox__footer {
        width: 80%;
        transition: width 0.3s ease-in-out;
    }
}

.sender {
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 1.-rem;
}
.messages__item {
    max-width: 100%;
    width: fit-content;
}
.messages__item img {
    background-color: #FFFFFF;
}

.messages__item--operator {
    margin-left: auto;
    color: white;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: var(--secondaryGradient);
    height: 100vh;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

/* HEADER */
@keyframes floatIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 0px 20px;
    box-shadow: var(--primaryBoxShadow);
    animation: floatIn 0.5s ease forwards; 
    transition: opacity 0.3s ease, transform 0.3s ease; 
  }

.chatbox__image--header {
    margin-right: 10px;
}
.chatbox__content--header {
    display: flex;
    flex-direction: column;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.logout--button {
    margin-left: auto;
}

.logout--button button {
    padding: 5px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.logout--button button img {
    width: 15px;
    height: 15px;
}


.logout--button button:hover {
    background-color: rgba(255, 255, 255, 0.274); 
}

.chatbox__heading--header {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: white;
}
.Bene {
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
    overflow: hidden;
}

.messages__item {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    padding: 8px 12px;
    margin-bottom: 20px;
}

.messages__item--visitor,
.messages__item--typing {
    color: white;
}


.messages__item--operator {
  
    color: white;
}
.footer {
    width: 100%;
    display: flex;
    height: 75px;
    justify-content: center;
    animation: floatIn 0.5s ease forwards; 
    transition: opacity 0.3s ease, transform 0.3s ease; 
}
/* FOOTER */
.chatbox__footer {
    display: flex;
    width: 50%;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    margin-bottom: 70px;
    transition: width 0.3s ease-in-out;
}
.chatbox__footer input[type="text"] {
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    outline: none;
    padding: 0;
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.chatbox__footer input {
    width: 90%;
    border: none;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: 	#724e2c;
    border: none;
    outline: none;
    border-radius: 300px;
    box-shadow: 2px 10px 5px #6b3b0d63;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    perspective: 1000px; 
}

.chatbox__button button:hover {
    transform:scale(1.05)
}

.menu {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, #362222, #2e1e1e, #261919, #1e1515, #171010); 
    color: #ffffff;
    border-radius: 10px;
    padding: 40px; 
    margin: 20px auto; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.menu h4 {
    font-size: 36px; 
    margin-bottom: 20px;
    text-align: center;
    order: -1;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.menu li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.coffee-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.menu li img {
    border-radius: 50%;
    margin-right: 20px;
}

.menu li span {
    font-weight: bold;
    margin-right: 20px; 
}

.menu li::before {
    content: "";
    display: inline-block;
    width: 14px; 
    height: 14px; 
    border-radius: 50%;
    margin-right: 20px;
}

.menu li:nth-child(odd)::before {
    background-color: #546e7a; 
}

.menu li:nth-child(even)::before {
    background-color: #78909c;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 20px;
    padding: 10px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #7e6835;
    border: 5px solid #362d2d;
    border-radius: 8px;
    padding: 10px;
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    .menu {
        padding: 20px;
        width: 100%;
    }
    
    .menu h4 {
        font-size: 24px; 
        margin-bottom: 10px; 
    }
    
    .coffee-image {
        width: 50px; 
        height: 50px; 
        margin-right: 10px; 
    }
    
    .menu li img {
        width: 50px; 
        height: 50px; 
        margin-right: 10px; 
    }
    
    .menu li span {
        margin-right: 10px; 
    }
    
    .menu li::before {
        width: 10px; 
        height: 10px; 
        margin-right: 10px; 
    }
}

/* cart button */
.cart-button {
    display: inline-block;
    padding: 4px 8px;
    background-color: rgb(93, 80, 44);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
}

.cart-button:hover {
    background-color: rgba(93, 80, 44, 0.497);
}